@import url("../../Header/Header.css");


html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;

}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}