@import url("../MenuFixed/MenuFixedCss/MenuFixed.css");
@import url("../About/About__AboutMain/AboutMainCss/AboutMain.css");

.About {
    display: grid;
    grid-auto-columns: 170px 5fr;
    grid-template-areas: 'MenuFixedArea AboutMainArea';
}

body {
    background: #0C0C0C;

}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

