@import url("../MenuFixed/MenuFixedCss/MenuFixed.css");
@import url("../Works/Works__WorksMain/WorksMainCss/WorksMain.css");

.Works {
    display: grid;
    grid-auto-columns: 170px 5fr;
    grid-template-areas: 'MenuFixedArea WorksMainArea';
}

body {
    background: #0C0C0C;

}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

